@mixin checkbox-list {
  label {
    cursor: pointer;
  }
  $size: 13px;
  input {
    @include checkbox($size)
  }
  @for $i from 1 through length($textbox-size-name) {
    $szselector: create-selector(nth($textbox-size-name, $i), $checklist-prefix);
    &#{$szselector} {
      line-height: nth($textbox-size, $i);
      font-size: nth($textbox-font-size, $i);
    }
    &#{$szselector} label {
      margin-right: nth($textbox-padding-rl, $i);
    }
    &#{$szselector} input {
      @include place-middle($size, nth($textbox-size, $i));
      margin-right: nth($textbox-padding-rl, $i);
    }
  }
}
@mixin form-vertical {
  padding: 10px 10px 20px;
  th {
    text-align: right;
    padding-right: $form-vertical-label-padding-r;
    width: $form-vertical-label-width;
    font-weight: lighter;
  }
  th, td {
    vertical-align: top;
    @include box-sizing(content-box);
  }
  td {
    padding-bottom: $form-vertical-interval;
  }
  input, select {
    vertical-align: top;
  }
  .form-menu {
    margin-top: 20px;
    margin-left: $form-vertical-label-width + $form-vertical-label-padding-r;
  }

  @for $i from 1 through length($textbox-size-name) {
    $szselector: create-selector(nth($textbox-size-name, $i), $form-vertical-prefix);
    $size: nth($textbox-size, $i);
    &#{$szselector} {
      font-size: nth($textbox-font-size, $i);
    }
    &#{$szselector} th {
      min-height: $form-vertical-interval + $size;
      height: $form-vertical-interval + $size;
    }
    &#{$szselector} th, &#{$szselector} td {
      line-height: $size;
    }
  }

}
@mixin element-group {
  a, input, output, button {
    border-right-width: 0;
    border-radius: 0;
    margin: {
      left: 0;
      right: 0;
    }
    box-shadow: none;
  }
  a, button{
    &.first-item {
      border-radius: $btn-radius-size 0 0 $btn-radius-size;
    }
    &.last-item {
      border-radius: 0 $btn-radius-size $btn-radius-size 0;
    }
  }
  input, output {
    &.first-item {
      border-radius: $textbox-radius-size 0 0 $textbox-radius-size;
    }
    &.last-item {
      border-radius: 0 $textbox-radius-size $textbox-radius-size 0;
    }
  }
  a, button{
    &.last-item {
      border-right-width: $btn-bd-size;
    }
  }
  input, output {
    &.last-item {
      border-right-width: $textbox-bd-size;
    }
  }
}
@mixin add-shadow-to-element-group {
  a, button {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.20);
  }
}
@mixin element-menu($menu-on-right: false) {
  @if ($menu-on-right == true) {
    margin-right: -1 * $element-menu-interval;
    vertical-align: right;
  } @else {
    vertical-align: left;
  }
  input, a, button, select {
    margin-right: $element-menu-interval;
  }

}
