@charset "UTF-8";
//聚焦效果
@mixin grow {
  border-color: $effect-grow-border-color !important;
  box-shadow: 0 0 5px $effect-grow-color !important;
}

@mixin disabled($grayscale: 1, $opacity: 1) {
  filter: unquote('progid:DXImageTransform.Microsoft.BasicImage(grayscale=' + $grayscale + ') alpha(opacity=' + $opacity * 100 + ')');
  color: #A0A0A0;
  -webkit-filter: grayscale($grayscale * 100%);
  cursor: not-allowed;
  opacity: $opacity
}

@mixin error {
  -moz-animation: error 1s ease-in;
  -webkit-animation: error 1s ease-in;
  animation: error 1s ease-in-out;
}
