$default-img-src-base: '/' !default;
$default-line-height: 24px !default;
$default-font-size: 12px !default;


$ui-state-name: '', 'strong', 'info' !default;
$ui-size-name: '', 'sm', 'lg', 'xlg' !default;
$ui-font-size: $default-font-size, 12px, 14px, 16px !default;
$ui-font-weight: 400, 400, 400, 900 !default;
$ui-size: 28px, 22px, 32px, 35px !default;
$ui-line-height: $default-line-height, 18px, 26px, 28px !default;
$ui-radius-size: 2px !default;


$textbox-placeholder-color: #DDD !default;
$textbox-state-name: '', 'error' !default;
$textbox-prefix: 'txtbox' !default;
$textbox-bd-color: #CCC, #F00 !default;
$textbox-bg-color: #FFF, #FFE9E9 !default;
$textbox-font-color: #555, #F00 !default;


$textbox-font-size: $ui-font-size !default;
$textbox-padding-rl: .5em, .5em, .75em, 1em !default;

$textbox-size-name: $ui-size-name !default;
$textbox-size: $ui-size !default;
$textbox-radius-size: $ui-radius-size !default;
$textbox-bd-size: 1px !default;
$textbox-line-height: $ui-line-height !default;

$select-prefix: $textbox-prefix !default;
$select-line-height: zoom-list($textbox-font-size, 16 / 12) !default;


$checklist-interval-size: 5px !default;
$checklist-prefix: 'cklist' !default;

$form-vertical-prefix: 'frm-v' !default;
$effect-grow-color: #799bd2 !default;

// icon

$icon-grid-size: 40px !default;
$icon-prefix: 'ico' !default;
$icon-size-name: $ui-size-name !default;
$icon-size: 16px, 12px, 22px, 36px !default;
$icon-url: img-url('ico.png'), img-url('ico-sm.png'), img-url('ico-lg.png'), img-url('ico-xlg.png') !default;
$icon-map: edit, ding, tqq, tsina !default;

// button

$btn-font-size: $ui-font-size !default;
$btn-font-weight: $ui-font-weight !default;
$btn-size-name: $ui-size-name !default;
$btn-size: $ui-size !default;
$btn-line-height: $ui-line-height !default;
$btn-state-name: $ui-state-name !default;

$btn-ustate-name: '', 'hover', 'active' !default;

$btn-grid-size: 40px !default;
$btn-bd-size: 1px !default;
$btn-radius-size: $ui-radius-size !default;
$btn-prefix: 'btn' !default;
$btn-shadow: ((0 1px 1px 0 rgba(0,0,0,.2)), none) !default;

$btn-bg-color: #F3F3F3, #37BD6F, #FFE9E9 !default;
$btn-font-color: #555, #FFF, #D96458 !default;
$btn-bd-color:
darken(nth($btn-bg-color, 1), 10%),
darken(nth($btn-bg-color, 2), 10%),
darken(nth($btn-bg-color, 3), 10%) !default;

$btn-padding-rl: 1em, .75em, 1.2em, 2em !default;

$btn-bg-url:
img-url('btn.png'),
img-url('btn-sm.png'),
img-url('btn-lg.png'),
img-url('btn-xlg.png') !default;

$btn-type: '' !default;
//$btn-type: 'gradient';
$btn-gradient-table:
        ((#2899DF, #3598DC),(#027FC8, #027FC8),(#027FC8, #027FC8)),
        ((#2899DF, #3598DC),(#027FC8, #027FC8),(#027FC8, #027FC8)),
        ((#F8A20E, #F4A01B),(#E18A00, #E18A00),(#E18A00, #E18A00)) !default;

//effect
$effect-grow-border-color: #369 !default;
$effect-grow-border: #369 !default;

//combination
$form-vertical-interval: 8px !default;
$form-vertical-label-width: 120px !default;
$form-vertical-label-padding-r: 10px !default;
$form-vertical-menu-margin-t: 10px !default;
$element-menu-interval: 10px !default;

//UI
$alert-state-name: '', 'error' !default;
$alert-prefix: 'alert' !default;
$alert-size-name: '', 'sm', 'lg', 'xlg' !default;

$alert-bd-color: #CCC, #F00 !default;
$alert-bg-color: #FFF, #FFE9E9 !default;
$alert-font-color: #555, #F00 !default;

$alert-padding-rl: .5em, .5em, .75em, 1em !default;
$alert-font-size: $ui-font-size !default;
$alert-padding-rl: .5em, .5em, .75em, 1em !default;

$alert-size-name: $ui-size-name !default;
$alert-size: $ui-size !default;
$alert-line-height: $ui-line-height !default;


