@function img-url($url, $burl: null) {
  @if ($burl == null) {
    $burl: $default-img-src-base;
  }
  @return url($burl + $url);
}

@function create-selector($s, $prefix) {
  @if $s == '' { @return $s}
  @return $prefix + '-' + $s;
}

@function create-u-selector($s, $prefix:':') {
  @if $s == '' { @return $s}
  @return $prefix + $s;
}

@mixin placeholder-color($color) {
  &::-moz-placeholder {
    color: $color !important;
    opacity: 1;
  }
  &:-moz-placeholder {
    color: $color !important;
    opacity: 1;
  }
  &::-webkit-input-placeholder {
    color: $color !important;
  }
  &:-ms-input-placeholder {
    color: $color !important;
  }
  &.placeholder {color: $color !important;}
}